:root {
--color00: #121212;
--color01: #121212;
--color02: #121212;
--color03: #ffffff;
--color04: #ffffff;
--color05: #ffffff;
--color06: #ffffff;
--color07: #ffffff;
--color08: #fa692d;
--color09: #eb833b;
--color0A: #f69959;
--color0B: #ee995c;
--color0C: #e5b090;
--color0D: #928ec8;
--color0E: #f6956f;
--color0F: #ffa884;
}
